body {
  background-color: black;
}
#navbar{
  display:flex;
  position: fixed;
  justify-content:flex-end;
  top:0px;
  left:0px;
  width:100%;
  background:black;
}
.user {
  justify-content:flex-start;
  position: fixed;
  top:5px;
  left:20px;
  width:50%;
  color: red;
  font-size: 30px;
  z-index: 0;
}
.navlink{
  text-decoration:none;
  color: red;
  font-size:25px;
  margin: 0 10px;
  padding: 5px;
  z-index: 1;
  
}
#welcome-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100vh;
}
h1{
  font-size: 35px;
  color: red;
}
#projects{
  text-align:center;
  color:#6E6658;
  width:100%;
  font-size:20px;
}
p {
  color: white;
  font-size: 20px;
  margin: -5px;
}
.title{
  color: white;
  font-size:20px;
}
span{
  text-decoration:none;
}
.tile-image{
  width: 200px;
  height:190px;
}
.project-grid{
  display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 200px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.project-tile{
  text-decoration:none;
}
h2{
  color: red;
  font-size:30px;
}
#contact-header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  
}
#social-media{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#profile-link{
  margin-top:30px;
}

a:visited {
  color: red;
}

a:active {
  color: white;
}

a:hover {
  color: red;
}

.fa-linkedin {
  margin-left: 3px;
  
}

a {
  text-decoration: none;
}